<a href="https://colab.research.google.com/github/cynthialmcginnis/CMIS/blob/main/Copy_of_pythonclass3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Review

* if
* while
* Functions

In [ ]:
#Write a Python program to fine those numbers which are divisible by 7 and multiple of 5, between 1500 and 1700 (both included) and print the numbers.
#You will need a for loop in range(1500,1700), an if statement and the operation % modulo 10%5 = 0 because 10/5 = 2 with a remainder of 0.  11%5 = 1 11/5 = 2 with a remder of 1

0

In [ ]:

#Create a function using the previous problem that takes input variables for the range of values where you want to find numbers both divisible by 7 and 5

In [ ]:
#Create a function using the previous problem that takes input variables for the range of values and two numbers you want to check for divisiblity

In [ ]:
#Create a while loop that runs until it find the first number divisible by both 7 and 5

In [ ]:
#Write a while statement that runs until a certain condition is met.  Check the condition with an "if", stop the while loop with break

In [ ]:
#Example
while True:
    line = input('> ')
    if line == 'done':
      break
      print(line)
print('Done!')

> The monkeys are in the monkey house.
> done
Done!

In [ ]:
#explain what happens in the while loop
x = 1;
s = 0
while (x < 10):
     s = s + x
     x = x + 1
     if (x == 5):
          break
else :
     print('The sum of first 9 integers : ',s)        
print('The sum of ',x,' numbers is :',s)

The sum of  5  numbers is : 10

In [16]:
input("What is the purpose of import math in a python script?")

What is the purpose of import math in a python script?imports math funcitons

'imports math funcitons'

In [ ]:
def my_add(x,y,s):
  while (x < y):
     s = s + x
     x = x + 1
     if (x == y):
          break
  else :
     print('The sum of first 9 integers : ',s)        
  print('The sum of ',x,' numbers is :',s)

In [ ]:
my_add(1,20,0)

The sum of  20  numbers is : 190

In [ ]:
#Turn your while statement into a function with variable input

In [19]:
#for loops with lists
color_list = ["Red", "Blue", "Green", "Black"]
for c in color_list:
    print(c)

Red
Blue
Green
Black

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [20]:
#indexing a list element
for i in range(3):
  print(color_list[i])

Red
Blue
Green

In [ ]:
#Start with the number 3, end at 20 and count by 5's
for a in range(3,20,5):
  print(a)

3
8
13
18

In [ ]:
#Write a for loop that multiplies two numbers, then print the calculation

In [ ]:
count = 0
for i in [3, 41, 12, 9, 74, 15]:
    count = count + 1
print("Count:", count)

Count: 6

In [22]:
#Run the code and describe what is happening
count = 0
for i in [3, 41, 12, 9, 74, 15]:
    
    print("Element", count, "Value", [i])
    count = count + 1
    
print("Count:", count)

Element 0 Value [3]
Element 1 Value [41]
Element 2 Value [12]
Element 3 Value [9]
Element 4 Value [74]
Element 5 Value [15]
Count: 6

In [23]:
# Tuples are ordered lists that are unchangeable
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple.                 
count_odd = 0
count_even = 0
for x in numbers:
        if x % 2:
    	     count_odd+=1
        else:
    	     count_even+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

#Python Collections (Arrays)
#There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered and changeable. No duplicate members.

In [ ]:
# Review Strings
my_string = "Coding is Fun!"

In [ ]:
#Length of a string
len(my_string)

14

In [ ]:
#Indexing a string
my_string[1]

'o'

In [ ]:
#Indexing with negative numbers
my_string[-1] #the last element in the string

'!'

In [ ]:
#adding string elements
my_string[1]+my_string[3]

'oi'

In [ ]:
#slicing string elements 
my_string[1:4]

'odi'

In [ ]:
# write code to return the 6th element in the string, my_string

In [ ]:
# write code to return the 4 through 7th element in the string, my_string

In [ ]:
#write a for loop to print all elements in the string, my_string

In [ ]:
#add elements to a string
string1 = "I "
string2 = "love to "
string3 = "code"

new_string = string1+string2+string3

print(new_string)

I love to code

# Tuples ("a","b","c","d")
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [ ]:
my_tuple = ("a","b","c","d")

In [ ]:
my_tuple[0]

'a'

In [ ]:
my_tuple[3]

'd'

In [ ]:
my_tuple[-1]

'd'

In [ ]:
my_tuple[1:3]

('b', 'c')

In [ ]:
# Create a tuple then use your tuple in a for or while loop to print the elements in the tuple

# List Items
# List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.

#Ordered
* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
total = 0 
for num in [3, 41, 12, 9, 74, 15]:    #list used [] brackets
    total = total + num
print("Total: ", total)

Total:  154

In [ ]:
num = [3, 41, 12, 9, 74, 15]
len(num)

6

In [ ]:
num[4]

74

In [ ]:

for n in range(len(num)): 
  
  print("num[",n, "] =", num[n])

num[ 0 ] = 3
num[ 1 ] = 41
num[ 2 ] = 12
num[ 3 ] = 9
num[ 4 ] = 74
num[ 5 ] = 15

In [ ]:
for n in num:
  print("num = ",n)

num =  3
num =  41
num =  12
num =  9
num =  74
num =  15

In [ ]:
num[1]+num[2]

53

In [ ]:
#Create a list then print each item in the list

In [ ]:
# write a program to find the largest number in the list
my_list = [55, 41, 12, 90, 74, 12]

In [ ]:
# write a program to find the smallest number in the list
my_list = [55, 41, 12, 90, 74, 12]

In [ ]:
#add elements to a list with .append()

my_list.append(2)
my_list

[55, 41, 12, 90, 74, 12, 2]

In [ ]:
my_list.pop(3)

90

In [ ]:
my_list

[55, 41, 12, 74, 12, 2]

In [ ]:
my_list.pop()

2

In [ ]:
my_list

[55, 41, 12, 74, 12]

In [ ]:
#Fill up an empty list
new_list = []
for i in range(8):
  new_list.append(i)

print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
#combine two lists
my_list+new_list

[55, 41, 12, 74, 12, 0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
#write code that prompts the user for input and fills up an empty list with 4 elements in the list

# Solutions

In [ ]:
for i in range(1500,1700):
  x = i%7
  y = i%5
  if x == y == 0:
    print(i)

1505
1540
1575
1610
1645
1680

In [ ]:
#Create a function using the previous problem input the range of values where you want to find numbers both divisible by 7 and 5
def find_nums(a,b):
  for i in range(a,b): 
    x = i%7
    y = i%5
    if x == y == 0:
      print(i)

In [ ]:
find_nums(0,500)

0
35
70
105
140
175
210
245
280
315
350
385
420
455
490

In [ ]:
#find the first number divisible by 5 and 7
div_7and5 = "True"
i = 0
while div_7and5 == "True":
  i += 1
  x = i % 7
  y = i % 5
 
  if x == y == 0:
    div_7and5 = "False"
    print(i)

35

In [ ]:
#Find the largest value in a list
my_list = [55, 41, 12, 90, 74, 12]
largest = -1

for i in my_list:
    if i > largest:
        largest = i
    print("Current value:", i, " Largest so far", largest)

print("Largest:", largest)

Current value: 55  Largest so far 55
Current value: 41  Largest so far 55
Current value: 12  Largest so far 55
Current value: 90  Largest so far 90
Current value: 74  Largest so far 90
Current value: 12  Largest so far 90
Largest: 90

In [ ]:
#Find the smallest Value
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Current value:", itervar, " Smallest so far", smallest)
print("Smallest:", smallest)

Before: None
Current value: 3  Smallest so far 3
Current value: 41  Smallest so far 3
Current value: 12  Smallest so far 3
Current value: 9  Smallest so far 3
Current value: 74  Smallest so far 3
Current value: 15  Smallest so far 3
Smallest: 3