<a href="https://colab.research.google.com/github/cynthialmcginnis/CMIS/blob/main/pythonclassstringlists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Review

* if
* while
* Functions

In [ ]:
#Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 1700 (both included) and print the numbers.
#You will need a for loop in range(1500,1700), an if statement and the operation % modulo 10%5 = 0 because 10/5 = 2 with a remainder of 0.  11%5 = 1 11/5 = 2 with a remder of 1

In [ ]:

#Create a function using the previous problem that takes input variables for the range of values where you want to find numbers both divisible by 7 and 5

In [ ]:
#Create a function using the previous problem that takes input variables for the range of values and two numbers you want to check for divisiblity

In [ ]:
#Create a function that uses a while loop that runs until it finds the first number divisible by both 7 and 5

In [ ]:
#Example
while True:
    line = input('> ')
    if line == 'done':
      break
      print(line)
print('Done!')

In [ ]:
#explain what happens in the while loop
x = 1;
s = 0
while (x < 10):
     s = s + x
     x = x + 1
     if (x == 5):
          break
else :
     print('The sum of first 9 integers : ',s)        
print('The sum of ',x,' numbers is :',s)

In [ ]:
def my_add(x,y,s):
  while (x < y):
     s = s + x
     x = x + 1
     if (x == y):
          break
  else :
     print('The sum of first 9 integers : ',s)        
  print('The sum of ',x,' numbers is :',s)

In [ ]:
my_add(1,20,0)

In [ ]:
#Strings
my_string = "I love to code even though I get frustrated sometimes"
myNew_string = ""
for letter in my_string:
  if letter != " ":
    myNew_string = myNew_string+letter
    #print(letter)
print(myNew_string)

In [ ]:
my_string.find("code")   #code starts with the 10th element

In [ ]:
my_string.find("e")      #e is the 5th element

In [ ]:
my_string.find("e",10)  #10 is the starting position

In [ ]:
my_string.find("e",14, 20 ) #start at the 14th element and end at the 20th element

In [ ]:
my_string.count('e') #Counts the number of e's in the string

In [ ]:
my_string.count("code")

In [ ]:
my_string.isalnum()

In [ ]:
my_string.isalpha()

In [ ]:
myNew_string.isalpha()

In [ ]:
myNew_string.upper()

In [ ]:
#Reverse a string
short_string = "Python is fun"
index = len(short_string) - 1
while index >= 0:
    print("index = ", index, short_string[index])
    index = index - 1

## Strings are an example of Python objects. An object contains both data (the actual string itself) and methods, which are effectively functions that are built into the object and are available to any instance of the object.

# Python has a function called dir which lists the methods available for an object.

In [ ]:
print(dir(short_string))

In [ ]:
help(short_string.title)

In [ ]:
short_string.title()

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#for loops with lists
color_list = ["Red", "Blue", "Green", "Black"] #a list is enclosed with square brackets
for c in color_list:
    print(c)

In [ ]:
#indexing a list element
for i in range(3):  #0 <=x < 3
  print("i = ", i, "=", color_list[i])

In [ ]:
my_colors = ["red", "green", "blue", "black", "orange", "yellow", "purple"]
#write code that prints the 4th 5th and 6th color

In [ ]:
#Start with the number 3, end at 20 and count by 5's
for a in range(3,20,5):
  print(a)

In [ ]:
#Write a for loop that counts by 3's and multiplies two numbers, then print the calculation

In [ ]:
count = 0
for i in [3, 41, 12, 9, 74, 15]:
    count = count + 1
print("Count:", count)

In [ ]:
#Run the code and describe what is happening
count = 0
for i in [3, 41, 12, 9, 74, 15]:
    
    print("Element", count, "Value", [i])
    count = count + 1
    
print("Count:", count)

In [ ]:
count = [3, 41, 12, 9, 74, 15]
len(count)

In [ ]:
# Tuples are ordered lists that are unchangeable
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple.                 
count_odd = 0
count_even = 0
for x in numbers:
        if x % 2:
    	     count_odd+=1
        else:
    	     count_even+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

#Python Collections (Arrays)
#There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered and changeable. No duplicate members.

In [ ]:
# Review Strings
my_string = "Coding is Fun!"

In [ ]:
#Length of a string
len(my_string)

In [ ]:
#Indexing a string
my_string[1]

In [ ]:
#Indexing with negative numbers
my_string[-1] #the last element in the string

In [ ]:
#adding string elements
my_string[1]+my_string[3]

In [ ]:
#slicing string elements 
my_string[1:4]

In [ ]:
# write code to return the 6th element in the string, my_string

In [ ]:
# write code to return the 4 through 7th element in the string, my_string

In [ ]:
#write a for loop to print all elements in the string, my_string

In [ ]:
#add elements to a string
string1 = "I "
string2 = "love to "
string3 = "code"

new_string = string1+string2+string3

print(new_string)

# Tuples ("a","b","c","d")
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [ ]:
my_tuple = ("a","b","c","d")

In [ ]:
my_tuple[0]

In [ ]:
my_tuple[3]

In [ ]:
my_tuple[-1]

In [ ]:
my_tuple[1:3]

In [ ]:
# Create a tuple then use your tuple in a for or while loop to print the elements in the tuple

# List Items
# List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.

#Ordered
* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
total = 0 
for num in [3, 41, 12, 9, 74, 15]:    #list used [] brackets
    total = total + num
print("Total: ", total)

In [ ]:
num = [3, 41, 12, 9, 74, 15]
len(num)

In [ ]:
num[4]

In [ ]:

for n in range(len(num)): 
  
  print("num[",n, "] =", num[n])

In [ ]:
for n in num:
  print("num = ",n)

In [ ]:
num[1]+num[2]

In [ ]:
#Create a list then print each item in the list

In [ ]:
# write a program to find the largest number in the list
my_list = [55, 41, 12, 90, 74, 12]

In [ ]:
# write a program to find the smallest number in the list
my_list = [55, 41, 12, 90, 74, 12]

In [ ]:
#add elements to a list with .append()

my_list.append(2)
my_list

In [ ]:
my_list.pop(3)

In [ ]:
my_list

In [ ]:
my_list.pop()

In [ ]:
my_list

In [ ]:
#Fill up an empty list
new_list = []
for i in range(8):
  new_list.append(i)

print(new_list)

In [ ]:
#combine two lists
my_list+new_list

In [ ]:
#write code that prompts the user for input and fills up an empty list with 4 elements in the list

# Solutions

In [ ]:
for i in range(1500,1700):
  x = i%7
  y = i%5
  if x == y == 0:
    print(i)

In [ ]:
#Create a function using the previous problem input the range of values where you want to find numbers both divisible by 7 and 5
def find_nums(a,b):
  for i in range(a,b): 
    x = i%7
    y = i%5
    if x == y == 0:
      print(i)

In [ ]:
find_nums(0,500)

In [ ]:
#find the first number divisible by 5 and 7
div_7and5 = "True"
i = 0
while div_7and5 == "True":
  i += 1
  x = i % 7
  y = i % 5
 
  if x == y == 0:
    div_7and5 = "False"
    print(i)

In [ ]:
#Find the largest value in a list
my_list = [55, 41, 12, 90, 74, 12]
largest = -1

for i in my_list:
    if i > largest:
        largest = i
    print("Current value:", i, " Largest so far", largest)

print("Largest:", largest)

In [ ]:
#Find the smallest Value
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Current value:", itervar, " Smallest so far", smallest)
print("Smallest:", smallest)